body {
    font-family: Arial, sans-serif;
    background-color: #f5f5dc;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('img/护理医学图片.png');
    background-size: cover;
    opacity: 0.3;
    z-index: -1;
}

.container {
    flex: 1;
}

h1 {
    text-align: center;
    padding: 10px;
    margin: 0;
    background-color: #fff8dc;
}

.search-box {
    text-align: center;
    padding: 10px;  
    align-items: center;
}

#search-input {
    width: 50%;
    max-width: 600px;
    height: 40px;
    padding: 5px;
    font-size: 16px;
    margin: 0 auto 10px auto;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#language-select, button {
    height: 40px;
    padding: 10px;
    font-size: 16px;
    margin: 10px 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #dcdcdc;
}

#results {
    width: 80%;
    max-width: 800px;
    margin: 20px auto;
    padding: 5px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.result-item {
    border-bottom: 1px solid #eee;
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.result-section {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 20px;
}

.result-section-title {
    min-width: 100px;
    font-weight: bold;
    margin-right: 15px;
}

.result-section-content {
    flex: 1;
}

.result-section-content p {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

@media (max-width: 768px) {
    #search-input {
        width: 70%;
    }

    .result-section {
        flex-direction: column;
        align-items: flex-start;
    }

    .result-section-title {
        margin-bottom: 5px;
    }
}

.term-title {
    font-size: 28px;
}

.tooltip {
    position: relative;
    display: inline-block;
    cursor: help;
    color: blue;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -100px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.contact-us {
    width: 80%;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff8dc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    box-sizing: border-box;
    text-align: center;
}

.contact-content {
    flex: 1;
    padding: 0 20px;
}

.contact-us h2 {
    margin: 5px 0;
    font-size: 16px;
}

.contact-us p {
    font-size: 12px;
    margin: 5px 0;
}

.contact-us form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.contact-us input,
.contact-us textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 12px;
}

.contact-us button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #dcdcdc;
    cursor: pointer;
    font-size: 12px;
}

.contact-us ul {
    list-style: none;
    padding: 0;
    font-size: 12px;
    margin: 0;
}

.contact-us li {
    margin: 3px 0;
}

.audio-text {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.speaker-icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    cursor: pointer;
}

.result-section-content .audio-text {
    margin-bottom: 10px;
}

.footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px 0;
    background-color: #fff8dc;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    flex-shrink: 0;
}

.footer p {
    font-size: 12px;
    color: #888;
    margin-top: 10px;
}

.contact-button {
    background-color: #dcdcdc;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
